.title {
	color:#1C2557;
	font-family: 'Raleway';
	margin-bottom: 15px;
}

.menu {
	text-decoration:none;
	display:inline-block;
	margin-right: 30px;
	color:gray;
	font-family: 'Raleway';
	margin-bottom: 30px;
}
.margen-ul {
	padding-right: 35px;
}
.menu a {
	color:gray;
	margin-left: 30px;

}
.menu a:hover {
	text-decoration: none;
	color: #1C2557;
}
.menu a:visited {
	text-decoration: underline;
}

.banner {
	background-image:url(../img/dance_1.jpg);
	background-size: cover; 
	background-position: center;
	background-repeat: no-repeat;
	height:450px;
}

.subtitle {
	font-family: 'Raleway';
	color:#B7B4BE;
	margin-left: 100px;
	margin-top: 60px;
}
.descripcion {
	font-family: 'Raleway';
	color:white;
	opacity:0.8;
	margin-top: 20px;
	margin-left: 100px;
	font-size: 13px;
	padding-bottom: 15px;
}

.box {
	background-color: rgba(0, 0, 0, 0.5);
	height:300px;
	margin-top: 60px;
	visibility: hidden;
	display:none;
}

.inscribete {
	border-radius: 5px;
	background-color: #000719;
	border: 1px solid #000719;
	width:100px;
	height:30px;
	color:white;
	opacity: 0.8;
	padding:13px;
	font-size: 13px;
	margin-left: 100px;
	margin-top: 100px;
}

.inscribete:hover {
	text-decoration: none;
}

.fondo {
	background-image:url(../img/textura_2.jpg);
	height:270px;
}

.textura-2 {
	font-family: 'Raleway';
	color:gray;
	margin-top: 60px;
}

.decoracion {
	width:25%;
	margin-top: -40px;
}

.boton-oferta {
	background-color: #1C2557;
	border-radius: 5px;
	margin-top: 30px;
	padding:15px;
	padding-left: 40px;
	padding-right: 40px;
	color:#CFCFD9;
	text-decoration: none;
	margin-bottom:30px;
}

.boton-oferta:hover {
	text-decoration: none;
}

.margen-boton {
	margin-bottom: 30px;
}

.instructores {
	border:1px solid  #1C2557;
	background-color:  #1C2557;
	position:relative;
	bottom:78px;
	padding:25px;
	font-family: 'Raleway';
	color:#CFCFD9;
	font-size: 15px;
}

.profe1 {
	background-image:url(../img/instructor_4.jpg); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
	padding-bottom: 280px;
	position:relative;
	border:1px solid #1C2557;
}

.profe2 {
	background-image:url(../img/profesor_9.jpg); 
	background-size: cover;
	background-position: center;
	background-repeat: no-repeat;
	max-width: 100%;
	padding-bottom: 280px;
	position:relative;
	border:1px solid #1C2557;
}

.fondo1 {
	background-image:url(../img/textura_2.jpg);
	height:230px;
	margin-top: -88px;
}

.textura-3 {
	font-family: 'Raleway';
	color:gray;
}

.fondo3 {
	background-color:  #1C2557;
}

.ubicacion {
	font-family: 'Raleway';
	color:white;
	opacity: 0.6;
	margin-left: 100px;
	margin-bottom: 60px;
	margin-right: 100px;
	margin-top: 60px;

}

.ubicacion1 {
	font-family: 'Raleway';
	color:white;
	opacity: 0.8;
	margin-left: 100px;
}

.ubicacion2 {
	font-family: 'Raleway';
	color:white;
	opacity: 0.6;
	margin-left: 100px;
	margin-top: 5px;
}

iframe {
	margin-top: 60px;
	margin-bottom: 60px;
	max-width: 100%;
	border-radius: 10px;
}

.fondo-ballet {
	background-image: url(../img/shoes_1.jpg);
	background-repeat: no-repeat;
	height:480px;
	background-position: right;
}

.contactanos {
	font-family: 'Raleway';
	margin-left: 100px;
	padding-top: 50px;	
	padding-bottom: 25px;
	font-family: 'Raleway';
	color: #1C2557;

}

.inputs {
	margin-left: 100px;
	margin-top: 10px;
	width:70%;
	font-family: 'Raleway',FontAwesome;
}

.inputs::-webkit-input-placeholder {
    /* Google Chrome y Safari */
    color: black;
}


textarea {
	margin-bottom: 50px;
	font-family: 'Raleway',FontAwesome;
}

.btn-enviar {
	text-decoration: none;
	color:gray;
	background-color: #1C2557;
	margin-left: 100px;
	padding:20px 190px;
	border-radius: 5px;
}
.btn-enviar:hover {
	text-decoration: none;
	
}
.btn-enviar:visited {
	text-transform: none;
}

.fondo4 {
	background-color: #1C2557;
}
.parrafo-footer {
	font-family: 'Raleway';
	
	padding: 20px;
	color:gray;
}



/*Aqui empiezan los medias */

@media (max-width : 320px) {
	.title {
		font-size:25px;
	}

	.menu  {
		padding-right: 15px;
		margin-bottom: 5px;
	}

	.box {
		visibility:visible;
		display:block;
	}
	
	.subtitle {
		margin-left: 50px;
		margin-top: 30px;
	}

	.descripcion {
		margin-left: 50px;
	}

	.desaparece {
		display:none;
	}

	.inscribete {
		background-color: #1C2557;
		margin-left: 70px;
	}

	.textura-2 {
		font-size:15px;
	}
	.instructores {
		padding:15px;
		font-size: 13px;
		bottom:57px;
	}
	.textura-3 {
		font-size: 15px;
	}
	.ubicacion {
		margin-left: 20px;
		margin-bottom: 40px;
		margin-right: 20px;
		margin-top: 20px;
	}
	.ubicacion1 {
		margin-left: 20px;
	}
	.ubicacion2 {
		margin-left: 20px;
	}

	.contactanos {
		margin-left: 40px;
	}

	.inputs {
	margin-left: 50px;
	margin-top: 10px;
	width:70%;
	font-family: 'Raleway',FontAwesome;
}
	.btn-enviar {
	margin-left: 50px;
	padding:10px 75px;
	text-align: center;
	}

	.parrafo-footer {
		font-size: 10px;
	}

}	

